.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .studentPhoto {
    /* border-radius: 50%; */
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .cardContent {
    padding: 15px;
  }
  
  .cardContent h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardContent p {
    font-size: 1em;
    color: #666;
  }
  