.imageWrapper{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562); /* Azure with transparency */
    flex-wrap: wrap;
    }
    .imageContainer{
    position:fixed;
    border-radius: 20px;
    }