.DropWrapperOpen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:38px;
    left:0px;
    border-radius:10px ;
    background-color:rgb(28, 255, 179);
    width: 100%;
    z-index: 1;
    padding: 0.5rem;
    
    }
    .DropWrapperOpen:hover{
        transform:translate(10px); 
        z-index: 1;
    }
    
    .dropItem{
        width: 99%;
    }
    .dropItem:hover{
        background-color: #edf2f9;
        border-radius: 0.5rem;
    }