.DropWrapperOpen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50px;
    left:0px;
    border-radius:10px ;
    background-color:aquamarine;
    width: 100%;
    transition:  0.5s ease; /* Transition for both opacity and transform */
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 999;
    
    }
    .DropWrapperOpen:hover{
        transform:translate(10px); /* Start in the correct position */
        transform: scale(1.05); /* Slight enlargement */
    
        }
    
    