/* ContactUs.module.css */
.formContainer {
    background-color: darkgrey;
    width: 28%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .formInput:focus,
  .formTextarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .formButton {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formButton:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .formContainer {
      width: 90%;
    }
  }
  